# =====================================================
# OS
# =====================================================

.DS_Store
Thumbs.db

# =====================================================
# Editors
# =====================================================

.vscode/
.idea/

# =====================================================
# Logs
# =====================================================

*.log

# =====================================================
# Environment
# =====================================================

.env
.env.*

# =====================================================
# Node
# =====================================================

node_modules/

# =====================================================
# Build
# =====================================================

dist/
build/

# =====================================================
# Cache
# =====================================================

.cache/
coverage/

# =====================================================
# Temporary
# =====================================================

*.tmp
*.temp
